// colours
$pure-white: #fff;
$pure-black: #000;
$light-gray: #e6e6e6;
$medium-gray: #868686;
$rust: #c7490e;
$charcoal: #464646;
$citrus: #a4ac00;

// breakpoints
$breakpoints: (
  // mobile up
  xs: 480px, // extra small
  sm: 768px,  // small
  ml: 1024px,  // middle
  lg: 1225px,   // large
  xl: 1440px, //extra large
  xxl: 1680px, //extra large

  // desktop down
  xxs: 413px,
  xs-1: 479px,
  sm-1: 767px,
  ml-1: 1023px,
  lg-1: 1224px,
  xl-1: 1439px,
);

// mixins
@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@mixin breakpoint($bp, $rule: min-width) {
  @media screen and (#{$rule}: map-get($breakpoints, $bp)) {
    @content;
  }
}

// Styles
body,
html {
  background: $light-gray;
  box-sizing: border-box;
  color: $charcoal;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#app {
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
  padding: 1.5em;
}

.vertical-list {
  @include flex(column, flex-start, flex-start);
  list-style: none;
  width: 100%;

  .list-item {
    @include flex;
    padding: 1em;
    width: 100%;

    span {
      margin-right: auto;
    }
  }
}

.empty-cart {
  margin-top: 1em;
  padding-left: 40px;
  width: 40%;
}

.total {
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 3em;
  text-align: right;
  width: 100%;
}

.button {
  color: $pure-white;
  margin: 0 1em;
  padding: .5em .75em;

  &.button-add {
    background-color: $citrus;
  }

  &.button-remove {
    background-color: $rust;
  }

  &:focus {
    outline: 2px $medium-gray;
  }
}
// Larger screens
@include breakpoint(ml) {
  #app {
    padding: 4em;
  }

  .vertical-list {
    width: 40%;
  }
}
